<app-tasks-form
  [dataToUpdate]="taskToUpdate"
  (taskAdd)="createTask($event)"
  (taskUpdate)="updateTask($event)"
></app-tasks-form>

<div class="container-fluid">
  <div class="row">
    <div class="col-12 my-2">
      <a
        routerLink="/task-list"
        class="btn btn-outline-dark border-0"
        aria-label="Voltar"
        data-balloon-pos="right"
      >
        <i class="fa-solid fa-left-long"></i>
      </a>
    </div>

    <div class="col-12 d-flex justify-content-between align-items-center mb-4">
      <h1>Tarefas</h1>

      <button
        class="btn btn-sm btn-success"
        type="button"
        data-toggle="modal"
        data-target="#tasksModal"
        (click)="taskToUpdate = null"
      >
        Nova tarefa
      </button>
    </div>
  </div>

  <div
    *ngIf="render && !tasksList.length"
    class="alert alert-warning"
    role="alert"
  >
    Esta lista ainda não possui nenhuma tarefa!
  </div>

  <div class="row" *ngIf="render && tasksList.length">
    <div class="col-12">
      <div class="table-responsive">
        <table class="table table-sm table-bordered table-striped">
          <thead class="thead-dark">
            <th>Tarefas</th>
            <th>Operações</th>
          </thead>
          <tbody>
            <tr *ngFor="let item of tasksList">
              <td>{{ item.title }}</td>
              <td>
                <a
                  class="btn btn-sm text-info"
                  [routerLink]="['tasks']"
                  aria-label="Visualizar tarefas"
                  data-balloon-pos="up"
                >
                  <i class="fas fa-search"></i>
                </a>

                <button
                  class="btn btn-sm text-warning"
                  type="button"
                  aria-label="Editar"
                  data-balloon-pos="up"
                  (click)="setTaskToEdit(item)"
                >
                  <i class="fa-solid fa-pen-to-square"></i>
                </button>

                <button
                  class="btn btn-sm text-danger"
                  type="button"
                  aria-label="Excluir"
                  (click)="deleteTask(item.id!)"
                  data-balloon-pos="up"
                >
                  <i class="fa-solid fa-trash"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
